@import '@parrotjs/rc-helper-class/src/index.scss';

@keyframes circular-dash{
    0% {
      stroke-dasharray: 1px 200px;
      stroke-dashoffset: 0px;
    }
    50% {
      stroke-dasharray: 100px 200px;
      stroke-dashoffset: -15px;
    }
    100% {
      stroke-dasharray: 100px 200px;
      stroke-dashoffset: -125px;
    }
}
@keyframes circular-rotate{
    100%{
        transform: rotate(360deg);
    }
}
$prefixCls:'parrot';

  
.#{$prefixCls}-loading{

    display: inline-block;
    animation: circular-rotate 1.4s linear infinite;

    &-container{
        position: relative;
        display: inline-block;

        .#{$prefixCls}-loading-overlay{

            position: absolute;
            background-color: rgba(0,0,0,.1);
            left:0;
            top:0;
            width:100%;
            height:100%;
            z-index:5;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center; 
            
            &-descriptor-containerer{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    
    &-primary{
        color:$primary-color;
    }
    &-second{
        color:$second-color;
    }
    &-danger{
        color:$danger-color;
    }
    &-warning{
        color:$warning-color;
    }
    &-inherit{
        color:inherit;
    }
    &-indeterminate{
        animation: circular-dash 1.4s ease-in-out infinite;
        stroke-dasharray: 80px, 200px;
        stroke-dashoffset: 0px;
    }

    &-circle{
        stroke:currentColor;
    }

}